@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: #5cff47;
  font-family: 'Poppins', sans-serif;

}

.App {
  width: 100%;
  height: 100vh;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-image: url(https://images.pexels.com/photos/66869/green-leaf-natural-wallpaper-royalty-free-66869.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
  background-repeat: no-repeat;
  background-size: cover;


}

.form {
  width: 600px;
  height: 400px;
  background-color: #0c8f0c;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 20px;
  padding-top: 20px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

input {
  min-width: 350px;
  height: 45px;
  margin: 25px;
  border-radius: 7px;
  border: none;
  cursor: pointer;
  font-size: 16.5px;
  letter-spacing: 1.4px;
  padding-left: 10px;
}

input::placeholder {
  color: black;
  text-align: center;
  opacity: 0.6;
}

input:focus {
  outline: none;
}

.submit {
  width: 110px;
  height: 40px;
  cursor: pointer;
  transition: .3s;
  border: none;
  border-radius: 10px;
  font-size: 17px;
  font-weight: 500;
}

.submit:hover {
  background-color: #fff;
  color: black;
}